#operation{
    width: 80%;
    height: 80%;
    margin: 25px 10% 0 10%;
}

#nameSearchBox,#comTypeBox{
    width: 100%;
    height: 30px;
    margin: 0 0 10px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}
#idSearch,#comType{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #525252;
    height: 20px;
    float: left;
}

#comType{
    text-align: center;
    float: center;
    width: 80px;
}
#comEmbed{
    pointer-events: none;
    background-color: transparent;
}
#comTypeBtn{
    display: flex;
    width: 25px;
    height: 25px;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: #c1cbd7;
    margin: 0 10px 0 10px;
    box-shadow: 2px 1px 5px #242424;
    border-radius: 10px;   
}
#comTypeBtn:hover{
    box-shadow: 3px 2px 5px #242424;
}
#ulType{
    display: block;
    list-style: none;
    width: 100px;
    padding:10px 0 10px 0;
    text-align: center;
    background-color:#c1cbd7 ;
    border-radius: 15px;
    box-shadow: 2px 1px 3px #242424;
    z-index: 100;
}
#operation ul li{
    cursor: pointer;
    line-height: 25px;
}
#operation ul li:hover{
    background-color: #959da7;
}

#sectionBox input[type=text]{
    background-color: transparent;
    border: 1px solid #545454;
    border-radius: 5px;
    height: 20px;
    width: 40px;
    text-align: center;
}
#condition span{
    margin-left: 20px;
}
#sectionBox{
    width: 100%;
    height: auto;
    text-align: left;
}
#sectionBox div div{
    margin-top: 10px;
    height: 20px;
}
#sectionLeft{
    float: left;
}
#sectionRight{
    margin: 0 0 0 50%;
}
#sectionRight > div:first-of-type{
    padding-top: 10px;
}

#comDescrip{
    width: 100%;
    height: 250px;
    margin: 20px 0 0 0;
    background-color: #d8caaf;
    box-shadow: 2px 1px 5px #242424 inset;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;  
}
#comDes_table{
    width: 90%;
    margin-top: 20px;
    border: 2px solid #242424;
    border-collapse: collapse;
}
#comDes_table tr{
    height: 36px;
}
#comDes_table tr:nth-child(2n){
    background-color: #c5b8a5;
}
#comDes_table td{
    border: 1px solid #242424;
}

#pageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: transparent;
}
#previousPage,#nextPage,#lastPage,#jump,#firstPage{
    display:flex;
    float: left;
    margin:0 10px 0 10px;
    border-radius: 5px;
    box-shadow: 2px 1px 2px #242424 inset;
}
#lastPage{
    margin:0 10px 0 0;
}
#lastPage,#jump,#firstPage{
    padding: 0 10px 0 10px;
}
#previousPage embed,#nextPage embed,#lastPage embed,#jump embed,#firstPage embed{
    pointer-events: none;
}
#previousPage embed{  
    transform: rotateY(180deg);
}
#previousPage:hover,#nextPage:hover,#lastPage:hover,#jump:hover,#firstPage:hover{
    box-shadow: 3px 2px 3px #242424 inset;
}
#pageJump{
    width: 30px;
    height: 18px;
    border:0;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    background-color: #d8caaf;
    box-shadow: 3px 1px 3px #242424 inset;
}

#btn_Box{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
#comSearch_search,#comSearch_reset{
    width: 20%;
    height: 90%;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 1px 5px #242424 inset;
    border:none;
    font-size: 24px;
    text-align: center;
}
#comSearch_tip{
    display: flex;
    float: left;
    width: 60%;
    height: 90%;
    align-items: center;
    justify-content: center;
    color: green;
}
#comSearch_reset{
    float: left;
}
#comSearch_search:hover,#comSearch_reset:hover{
    box-shadow: 3px 2px 5px #242424 inset;
}